<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Congrats you have registred successfully with the getSetgo program by aispiders.Please check your email id.</h1>
    </body>
</html>